@mixin header-texxt{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
@mixin main-item ($color-coffee-head__item){
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-coffee-head__item; 
       
}
@mixin link-coffee{
    width: 217px;
    height: 25px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}