.main-coff__box{
    padding: 117px 0;
    background-image: url(../../img/coffeeee.png);
    background-repeat:no-repeat;
    background-position-x:right;
   
}
.main-coff__title{
    max-width: 493px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;  
    margin-bottom: 32px;  
}
.main-coff__text{
    max-width: 417px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-bottom: 56px;
}
.main-coff__content{
    padding-left: 85px;
}
.main-coff__link{
    background-color: #66D2CF ;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;    
    padding: 15px 31px;
    border-radius: 5px;
    font-family: $font2;
}
@media screen and (max-width: 1000px  ) {
    .main-coff__box{
        padding: 104px 0;
        background-image: url(../../img/coffeetablet.jpg);
        background-size: cover;
        margin-bottom: 144px;
    }
    .main-coff__title{
        max-width: 329px;
        font-size: 48px;
        line-height: 48px;       
    }
    .main-coff__text{
        max-width: 372px;
        font-size: 15px;
        line-height: 25px;
    }
    .main-coff__link{
        background-color: #0E8784;
    }
}
@media screen and (max-width:576px) {
    .main-coff__box{
        background-image: url(../../img/backimg3.jpg);
        background-position:center;
        background-repeat: no-repeat;
        
    }
    .main-coff__content{
        max-width: 279px;
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }
    .main-coff__title{
        font-size: 40px;
        line-height: 40px;
    }
    .main-coff__text{
        font-size: 15px;
        line-height: 25px;
    }
}