#coffee-head{
    padding: 35px 0;
}
 .coffee-head__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .coffee-head__list{
    display: flex;
 }
 .coffee-head__item{
    @include main-item (#83888F);
 }
 .coffee-head__item + .coffee-head__item{
    margin-left: 30px;
 }
.coffee-head__btn{
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url(../../img/mobile.svg);
    display: none;
}
@media screen and (max-width:576px){
 .coffee-head__btn{
    display: inline-block;
 }
 .coffee-head__nav{
    display: none;
 }
 .coffee-head__logo{
    max-width: 163px;
    height: 18px;
 }
}
